{% load bootstrap %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Remote file for Bootstrap Modal</title>  

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

  
  <script>
  $(document).ready(function() {
  	 
     $('.datepicker').datepicker({
     	dateFormat: 'yy-mm-dd',
     }).val();

     $("#form1").validate({
        rules: {
        	desde: {
                required: true,
                date: true
            },
            
        },
        messages: {
            hasta: "requerido",
            desde: "requerido"

        }
    })

    $('#btn').click(function() {
        $("#form1").valid();
    });

  });
</script>

</head>
<body>

        <form action="{% url 'form_modal' %}" method="post" id="form1" name="form1">
        {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Modal title</h4>
            </div>	
            		<!-- /modal-header -->
            <div class="modal-body">
            <p>Seleccione el rango de fechas a exportar</p>
           
            <form action="" method="post">{% csrf_token %}
            
                        <table>
                            {{form|bootstrap}}
                        </table>
                        

            </div><!-- /modal-body -->
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <button id="btn" type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Exportar</button>
            </div><!-- /modal-footer -->

        </form>
</body>
</html>